<%= button 'Import Products', 'import', 'submit', class: 'btn btn-success', icon: 'import', 'data-toggle': 'modal', 'data-target': '#myModal' %>

<div class='modal' id='myModal'>
  <div class='modal-dialog'>
    <div class='modal-content' style='text-align: center'>
      <div class='modal-header'>
        <h3 class='modal-title'>Upload Products CSV</h3>
      </div>
      <div class='modal-body'>
        <h4>You can create or update products. Here's the <a href='/sample.csv' download>sample file.</a></h4>
        <br>
        <%= form_for FileImport.new, url: admin_product_imports_url, multipart: true do |f| %>
          <%= f.file_field :file, accept: 'text/csv', required: true %>
      </div>
      <div class='modal-footer'>
        <%= button_tag 'Cancel', class: 'btn btn-danger', 'data-dismiss': 'modal' %>
        <%= button 'Import Products', 'import', 'submit', class: 'btn btn-success', id: 'admin_product_imports', data: { disable_with: 'Importing...' } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
