<% content_for :page_actions do %>
  <%= render 'spree/admin/products/import_button' %>
  <%= button_link_to Spree.t(:products), admin_products_path, { class: 'btn-success', icon: 'th-large', id: 'admin_products' } %>
<% end %>

<% if @product_import.file.present? %>
  <div class='alert alert-info'>
    <h4><strong>Total number of rows: <%= @product_import.row_count %></strong></h4>
    <h4><strong>Successfully imported rows: <%= @product_import.row_count - @product_import.errors.count %></strong></h4>
  </div>
<% end %>

<% if @product_import.errors.any? %>
  <div>
    <div class='alert alert-danger'>
      <h4><strong>Number of errors: <%= pluralize(@product_import.errors.count, 'error') %></strong></h4>
    </div>
    <ul style='color: #a94442'>
    <% @product_import.errors.full_messages.each do |message| %>
      <li><h4><%= message %></h4></li>
    <% end %>
    </ul>
  </div>
<% end %>
